@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'robotoregular', Arial, sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(239, 240, 242);
}

header{
    text-transform: uppercase;
}

/*Section accueil*/

h2, #cat h4{
  color: #FFF;
  font-family: Arial, sans-serif;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.37;
  padding: .375rem .75rem;
}

#cat a{
  color: #FFF;
}

#cat a:hover{
  text-decoration: none;
  color: #FFF;
}

h2{
  background-color: #007bff;
}

#cat h4{
  background-color: #343a40;
}

#contenu{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.btn{
  font-size: 14px;
}

/*Pied de page*/
#bg-footer{
    margin-top: 150px;
}

footer, footer a, footer a:hover{
    color: white;
}
